* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
}

@font-face {
  font-family: 'Vazir';
  src: url(../assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff2) format('woff2'),
    url(../assets/fonts/vazir-font-v16.1.0/Vazir-Medium.ttf) format('truetype'),
    url(../assets/fonts/vazir-font-v16.1.0/Vazir-Medium.eot) format('embedded-opentype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* Variables--------------------------- */
:root {
  --header-mobil-color: #1b1b1b;
  --header-Desktop-color: rgba(0, 0, 0, 0.6);



  /* width----------------------- */
  --Desktop-max-width: 1180px;




  /* font-------------------------------------- */
  --vazir-medium-font: 'Vazir', Tahoma, sans-serif;
}



/* header__________________________________________________________________________________________________________________________ */
header {
  width: 100%;
  height: fit-content;
  background-color: var(--header-mobil-color);
}



.header_container {
  width: 100%;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: var(--Desktop-max-width);
  align-items: center;
  margin: 0px auto;


}

/* right_header -------------------------------------------------------------------------------------------------------*/
.right_header {
  width: fit-content;
}

.site_logo {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.site_logo img {
  width: 210px;
  cursor: pointer;
}

.site_logo--date {
  width: 100%;
  color: #808281;
  text-align: end;
  margin-top: -1em;
  font: inherit;

}

.site_logo--date.active {
  /*display: none; ,,,,,,,,,,,,,,,*/
  margin: 0px;
  padding: 0px;
  display: none;
}




/* left_header----------------------------------------------------------------------------------------------------------------- */
.left_header {
  /* width:70%; */
  text-align: left
}

.header_box_data {
  width: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

}





.header_box_data nav {
  /*display: none; ,,,,,,,,,,,,,,,*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  font-family: var(--vazir-medium-font);
  color: white;
  display: none;
  padding: 0px 10px;
}

.header_box_data nav a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.header_box_data--window {
  color: #f36f2b !important;
}

.header_box_data--sign-up {
  color: #80c645 !important;
}




.header_box_data section {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  /* border: 1px solid green; */
  padding: 0px 10px;
}



.header_box_data section svg {
  width: 30px;
  height: 30px;
  color: #808281;
}



.header_box_data--meno {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  /* border: 1px solid red; */

}

.header_box_data--meno div {
  width: 100%;
  border: 2px solid white;
}









/* main_____________________________________________________________________________________________________________________________ */


.Slider_main--footer {
  width: 100%;
  background: #fff;
  padding: 25px 0;
  box-shadow: 0px 5px 15px -9px rgba(0, 0, 0, 1);
}

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--Desktop-max-width);
  margin: 0px auto;
}


.Slider_main_footer--link-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}


.Slider_main_footer--link-content span {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
  gap: 15px;
}

.Slider_main_footer--link-content a {
  font-family: var(--vazir-medium-font);
  color: #666;
  font-size: 15px;
  text-decoration: none;
  width: 50%;
  padding: 10px 5px;
  background-color: #ccc;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}