* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  direction: rtl;
}


@font-face {
  font-family: 'Vazir';
  src: url(../assets/fonts/vazir-font-v16.1.0/Vazir-Medium.woff2) format('woff2'),
    url(../assets/fonts/vazir-font-v16.1.0/Vazir-Medium.ttf) format('truetype'),
    url(../assets/fonts/vazir-font-v16.1.0/Vazir-Medium.eot) format('embedded-opentype');

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}




/* Variables--------------------------- */
:root {
  --header-mobil-color: #1b1b1b;
  --header-Desktop-color: rgba(0, 0, 0, 0.6);



  /* width----------------------- */
  --Desktop-max-width: 1180px;




  /* font-------------------------------------- */
  --vazir-medium-font: 'Vazir', Tahoma, sans-serif;
  --body-color: #F5F5F5;
}





body {
  background: center top fixed var(--body-color);
}


/* header===========================================================================================================================*/
header {
  width: 100%;
  height: fit-content;
  background-color: var(--header-mobil-color);
}



.header_container {
  width: 100%;
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-width: var(--Desktop-max-width);
  align-items: center;
  margin: 0px auto;


}

/* right_header -------------------------------------------------------------------------------------------------------*/
.right_header {
  width: fit-content;
}

.site_logo {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}

.site_logo img {
  width: 210px;
  cursor: pointer;
}

.site_logo--date {
  width: 100%;
  color: #808281;
  text-align: end;
  margin-top: -1em;
  font: inherit;

}

.site_logo--date.active {
  /*display: none; ,,,,,,,,,,,,,,,*/
  margin: 0px;
  padding: 0px;
  display: none;
}




/* left_header----------------------------------------------------------------------------------------------------------------- */
.left_header {
  /* width:70%; */
  text-align: left
}

.header_box_data {
  width: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 10px;

}





.header_box_data nav {
  /*display: none; ,,,,,,,,,,,,,,,*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  font-size: 20px;
  font-family: var(--vazir-medium-font);
  color: white;
  display: none;
  padding: 0px 10px;
}

.header_box_data nav a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.header_box_data--window {
  color: #f36f2b !important;
}

.header_box_data--sign-up {
  color: #80c645 !important;
}




.header_box_data section {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
  /* border: 1px solid green; */
  padding: 0px 10px;
}



.header_box_data section svg {
  width: 30px;
  height: 30px;
  color: #808281;
}



.header_box_data--meno {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 7px;
  /* border: 1px solid red; */

}

.header_box_data--meno div {
  width: 100%;
  border: 2px solid white;
}









/* main ============================================================================================================================== */
.swiper-slide .img-desktop {
  display: none;
}

.swiper-slide .img-mobil {
  display: block;

}


.Slider_main--footer {
  width: 100%;
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 5px 15px -9px rgba(0, 0, 0, 1);
  margin-bottom: 30px;
}

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--Desktop-max-width);
  margin: 0px auto;
  flex-direction: column;
}






/* Slider_main_footer--link-content -------------------------------------------------------------------------------------------------*/
.Slider_main_footer--link-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

}


.Slider_main_footer--link-content span {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 5px 5px;
  gap: 10px;
  text-align: center;
}

.Slider_main_footer--link-content a {
  font-family: var(--vazir-medium-font);
  color: #666;
  font-size: 15px;
  text-decoration: none;
  width: 50%;
  padding: 10px 5px;
  background-color: #ccc;
  border-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}








/* .main_container_section_Card----------------------------------------------------------- */
.main_container_section_boxCard {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 30px;

}

.main_container_section_boxCard a {
  text-decoration: none;
  color: black;
  border: none;
  background-color: white;
  transition: 500ms;
  /* border-radius: 30px; */
}

.main_container_section_boxCard a:hover {
  color: white;
  background-color: rgb(76, 150, 76);

}

.main_container_section_boxCard--card {
  width: 185px;
  /* background-color: white; */
  background-color: transparent;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  /* border-radius: 30px; */
  padding: 24px 0;
  min-height: 210px;
  -webkit-box-shadow: -2px 1px 0px 2px #dadada;
  box-shadow: -2px 1px 0px 2px #dadada;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0px 6px 2px 0px rgba(227, 227, 227, 1);
  -moz-box-shadow: 0px 6px 2px 0px rgba(227, 227, 227, 1);
  box-shadow: 0px 6px 2px 0px rgba(227, 227, 227, 1);
  gap: 10px;
}



.main_container_section_boxCard--card p {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 15px;
  text-align: center;
  gap: 5px;
  font-family: var(--vazir-medium-font);
  font-size: 14px;
}

.main_container_section_boxCard--card p span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}









/* News and Announcement ___________________________________________________________________________________________________________*/
.News-section {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


/* .News-section--title--------------------------------------------------------------------------*/
.News-section--title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #bbb;
  gap: 10px;
  padding-top: 10px;
  font-family: var(--vazir-medium-font)
}

.News-section--title span {
  width: 15px;
  height: 15px;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  transform: rotate(45deg);
  background-color: var(--body-color);
  margin-bottom: -8.5px;
}





/* .News-section-boxcart----------------------------------------------------------------------*/
.News-section-boxcart {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin: 30px 0px;
  margin-bottom: 0px;
}

.News-section--cart {
  width: 24%;
  height: 360px;
  transition: 300ms;
  border: 1px solid green;
  border-radius: 7px;
  overflow: hidden;
  z-index: 2;
  min-width: 280px;
}

.News-section--cart img {
  width: 100%;
  height: 170px;
  z-index: 0;

}

.News-section--cart .content {
  width: 100%;
  height: 70%;
  border-radius: 12px;
  background-color: white;
  transform: translatey(-5%);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  transition: 300ms;
  padding: 15px 10px 0px 10px;
  font-family: var(--vazir-medium-font);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.News-section--cart .content h4 {
  text-align: right;
  color: #000;
  font-size: 15px;
  font-weight: 100;

}

.News-section--cart .content p {
  font-family: var(--vazir-medium-font);
  font-size: 14px;
  color: #a2a2a2;
  line-height: 24px;
  min-height: 140px;
  height: 64%;
  padding-top: 7px;
}

.News-section--cart .content .more {
  width: 104%;
  display: flex;
  justify-content: end;

}

.News-section--cart .content a {
  max-width: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background: #80c645;
  color: #fff;
  padding: 5px 15px;
  font-size: 13px;
  border-top-right-radius: 8px;

}


.News-section--cart:hover {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.8);

  .content {
    transform: translatey(-26%);
  }
}







.News-section--archive {
  padding: 10px 0px;
  flex-direction: row;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.News-section--archive a {
  text-decoration: none;
  font-family: var(--vazir-medium-font);
  color: #666;
}

.News-section--archive a:hover {
  color: #000;
}



/* main-foot--nav_________________________________________________________________________________________________________ */
.main-foot--nav {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  padding: 10px 0px;
  margin-top: 100px;
}

.main-foot--nav nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.main-foot--nav a {
  width: 48%;
  padding: 10px 10px;
  background-color: #4c4c4c;
  font-family: var(--vazir-medium-font);
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.main-foot--nav nav a:hover {
  color: #80c645;
}





















/* footer============================================================================================================================================= */
footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer--boxlogo {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
  /* position: absolute; */
  max-height: 170px;
  min-height: 140px;
}

.footer-boxlogo--container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--Desktop-max-width);
  margin: 0px auto;
  flex-direction: column;



}

.footer--logo {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.left,
.right {
  width: 48%;
  height: 110%;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.left img {
  width: 12%;
  /* height: 60%; */
}

.right img {
  width: 15%;
  /* height: 60%; */
}



.left .footer--Support-number {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  color: #1c3574;
  font-family: var(--vazir-medium-font);
  position: relative;
  top: 22px;
  left: 30px;

}

.left .footer--Support-number > .aro {
  font-size: 2em;
  color: #ff6000;
  margin-top: 4px;
}



.footer-boxlogo--container > .img {
  width: 59%;
  min-width: 300px;
  margin-top: -9%;
}



/* footer-regulations--------------------------------------------------------------------------- */
.footer-regulations {
  width: 100%;
  padding: 7px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4c4c4c;
}


.footer-regulations > a {
  color: #fff;
  font-family: var(--vazir-medium-font);
  text-decoration: none;
}


.footer-regulations > a:hover{
  color: #80c645;
}