.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.swiper-slide a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide span{
  width: 95%;
  background: rgb(228, 195, 30);
  border-radius: 5px;
  padding: 8px 0px;
  position: absolute;
  bottom: 0px;
  margin: 5px;
  box-sizing: border-box;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 250px;
  object-fit: cover;
}


.swiper-button-next svg,
.swiper-button-prev svg {
  display: none;
}


.swiper-button-next span,
.swiper-button-prev span {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-weight: bold;

  color: black;
}